<!DOCTYPE HTML>
<html>
   <header>
      {% block head %}
      <link rel="stylesheet" type="text/css" 
            href="{{ url_for( 'static', filename='style.css' ) }}" />
      <title>{% block title %}{% endblock %} - Heritage-App</title>
      {% endblock %}
   </header>
   <body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        -- La Maison Pythonic @ <a href="https://github.com/mchobby/la-maison-pythonic">GitHub</a> --
        {% endblock %}
    </div>
   </body>
</html>