{% extends "demo/demo_base.html" %}
{% set title = '.:Demo:. Liste' %}
{% set dash_color = 'light-green darken-1' %}
{% block content %}
<div class="row">
    <ul class="collection with-header">
        <li class="collection-header"><h4>Liste basique</h4></li>
        <li class="collection-item"><div>hertz<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        <li class="collection-item"><div>newton<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        <li class="collection-item"><div>pascal<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        <li class="collection-item"><div>joule<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
    </ul>
</div>
{% endblock %}
