body {
    background-color: darkgrey;
}

h1 {
    color: navy;
    margin-left: 20px;
}

div#content {
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}

div#footer {
  width: 100%;
  text-align: center;
  padding-top: 20px;
}